packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []
    git: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: covid_dashboard_nl:server
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    PORT: 5005
    DASH_DEBUG: False
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static