option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: covid_dashboard_nl:server
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    PORT: 5005
    DASH_DEBUG: False
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /assets: assets